<div class="container">
	<h1>SignUp</h1>
		{{#if errors}}
			{{#each error }}
				<p>{{ error.msg }}</p>
			{{/each}}
		{{else}}
			<p class="password-errors">{{ pErrors }}</p>
		{{/if}}	
	<form method="POST" autocomplete="off">
		<input type='text' name='username' placeholder='Username' value="{{username}}"/><br><br>
		<input type='text' name='email' placeholder='Email' value="{{email}}"/><br><br>
		<input type='password' name='password' placeholder='Password' value="{{password}}"/><br><br>
		<input type='password' name='password2' placeholder='Confirm Password' /><br><br>
		<button type='submit'>Submit</button>
	</form>
</div>